.section {
  width: 100%;
  height: auto;
  color: #707070;
}
.navbar-brand {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7931E;
}
.logo {
  width: 60%;
}
ul {
  list-style-type:none;
  padding: 0px;
}/*
.dashboard-group {
  border-bottom: 1px dotted #707070;
}*/
.dashboard-item {
  height: 50px;
}

/* unvisited link, visited link */
a:link,
a:visited {
  color: #707070;
}

/* mouse over link */
a:hover {
  color: #707070;
  background-color: #f7921e1f;
}

/* selected link */
.active {
  color: #707070;
  background-color: #f7921e3a;
}