<div class="section">
  <a class="navbar-brand" href="#">
    <img class="logo" src="assets/images/DritixBLANCO.png">
  </a>
  <div>
    <nav>
      <ul class="dashboard-group">
        <li class="dashboard-item active mt-3" routerLinkActive="active">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/homeAdmin">
            <span class="bi-columns-gap mr-3"></span>Menú</a>
        </li>
      </ul>
      <ul class="dashboard-group">
        <h5 class="dashboard-item-header px-3 py-3">Conductores</h5>
        <li class="dashboard-item" routerLinkActive="active">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/drivers">       
            <span class="bi-speedometer2 mr-3"></span>Lista</a>
        </li>
        <li class="dashboard-item" routerLinkActive="active">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/affiliate">
            <span class="bi-person-badge mr-3"></span>Afiliación</a>
        </li>
        <li class="dashboard-item" routerLinkActive="active">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/accountStatus">
            <span class="bi-card-checklist mr-3"></span>Estado de cuenta</a>
        </li>
      </ul>
      <ul class="dashboard-group">
        <h5 class="dashboard-item-header px-3 py-3">Clientes</h5>
        <li class="dashboard-item" routerLinkActive="active">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/clients">            
            <span class="bi-people-fill mr-3"></span>Lista</a>
        </li>
        <li class="dashboard-item" routerLinkActive="active">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/incidents">
            <span class="bi-exclamation-triangle mr-3"></span>Incidentes</a>
        </li>
      </ul>
    </nav>
  </div>
</div>