<div class="container">
  <div class="search  mb-4">
    <form class="searchByName">
      <span class="searchLabel">Conductor:</span>
      <div class="form-group form-inline">
        <input class="form-control ml-2" type="text" name ="filtrado" [(ngModel)]="filtrado"/>
        <button type="button" class="btn btn-primary"><span class="bi-x-lg"></span></button>
      </div>
    </form>
    <form class="searchByCarplate">
      <span class="searchLabel">Placa:</span>
      <div class="form-group form-inline">
        <input class="form-control ml-2" type="text"name ="filterVehicle_Plate" [(ngModel)]="filterVehicle_Plate"/>
        <button type="button" class="btn btn-primary"><span class="bi-x-lg"></span></button>
      </div>
    </form>
    <div class="searchByStatus">
      <span class="searchLabel">Status:</span>
      <select class="form-select form-select-md" aria-label=".form-select-sm example" name ="filtrado2" [(ngModel)]='filtrado2'>
        <option selected value="">---</option>
        <option value="Activo">Activo</option>
        <option value="Registrado">Registrado</option>
        <option value="Suspendido">Suspendido</option>
        <option value="Inhabilitado">Inhabilitado</option>
      </select>
    </div>
  </div>

  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre Completo</th>
        <th scope="col">DNI</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Placa</th>
        <th scope="col">Fch Registro</th>
        <th scope="col">Ult Servicio</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of Drivers | filtrado2: filtrado2 |  filter: filtrado | filterPlate:filterVehicle_Plate">
        <td>{{driver.fullname}}</td>
        <td>{{driver.document_number}}</td>
        <td>{{driver.phone_number}}</td>
        <td>{{driver.vehicle_plate}}</td>
       <td>{{driver.date_register.toDate() | date: 'dd/MM/yyyy'}}</td>
        <td>//</td>
        <td>{{driver.status}}</td>
        <td class="edit-btn" >
          <a 
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/dashboard/drivers/driver-edit',driver.id_Driver]"
          >
            <span class="bi-pencil-square"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
