<div class="section">
  <div class="hero">
    <img class="image" src="assets/images/imagenDritixsvg.svg">
  </div>
  <div class="loginForm">
    <div class="container">      
      <img class="logo-img" src="assets/images/Dritixsvg.svg">      
      <h2 class="welcome-text">Bienvenid@! Por favor logueate para ingresar.</h2>
      <!--<app-auth-form [action]="'login'"></app-auth-form>-->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" formControlName="email" pattern="[^\s@]+@[^\s@]+\.[^\s@]{2,}$"/>
        </div>
        <div class="mb-5">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" formControlName="password" minlength="6" required/>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn submit-btn" [disabled]="loginForm.invalid">Iniciar Sesión</button>
          <!--<button type="submit" class="btn btn-primary" (click)="customLogin()">Ingresar con contraseña</button>
          <button type="submit" class="btn btn-secondary" (click)="loginWithGoogle()">Ingresar con Google</button>-->
        </div>
      </form>
    </div>
  </div>
</div>