<div class="text-start text-secondary py-3">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema de Administración DRITIX</a>
        <div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="auth.user | async as user">
                  <code class="active-link">{{user.email}}</code>
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" routerLink="/dashboard/profile">Profile</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" (click)="onLogout()">Cerrar Sesión</a>
                  </li>
                  <!--<button class="btn btn-danger" (click)="logout()">Log out</button>-->
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>