.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dropdown-menu {
  width: 100px;
  text-align: center;
}
.navbar-brand,
.greeting-text {
  color: #707070;
}
.active-link,
.nav-link {
  color: black;
}
