<div *ngIf="auth.user | async; else showLogin">
  <button class="btn btn-danger" (click)="logout()">Log out</button>
</div>

<ng-template #showLogin>
  <form>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email"/>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Contraseña</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password"/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="customLogin()">Ingresar con contraseña</button>
    <button type="submit" class="btn btn-secondary" (click)="loginWithGoogle()">Ingresar con Google</button>
  </form>
</ng-template>