<div class="container">
  <div class="container">
    <h5 class="sectionTitle">Administración de Clientes</h5>
  </div>

  <div class="search  mb-4">
    <form class="searchByName">
      <span class="searchLabel">Clientes: </span>
      <div class="form-group form-inline">
        <input class="form-control ml-2" type="text"  name ="filtrado" [(ngModel)]="filtrado"/>
        <button type="button" class="btn btn-primary" (click)="onClear()">Limpiar</button>
      </div>
    </form>
    <div class="searchByStatus">
      <span class="searchLabel">Status: </span>
      <select class="form-select form-select-md" aria-label=".form-select-sm example" name ="filtrado2" [(ngModel)]='filtrado2'>
        <option selected value="">---</option>
        <option value="A">Activo</option>
        <option value="I">Inactivo</option>
      </select>
    </div>
  </div>
  
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of Clientes |  filter: filtrado | filtrado2: filtrado2 ">
        <td>
          {{ client.name + ' ' + client.middle_name + ' ' + client.last_name}}
        </td>
        <td>{{ client.status | pipestatus}}</td>
        <td class="edit-btn" >
          <a 
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/dashboard/client-edit',client.id]"
          >
            <span class="bi-pencil-square"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
