<div class="container">
  <div class="container">
    <h6 class="sectionSubTitle">Información del Conductor</h6>
  </div>

  <div class="container">
    <header>
      <div class="sectionLabel active" routerLinkActive="active">
        <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard/drivers/driver-edit',id_Driver]">Generales</a>
      </div>
      <div class="sectionLabel unactive ua">
        <a class="nav-link" [routerLink]="['/dashboard/drivers/driver-vehicle',id_Driver]">Vehículo</a>
      </div>
      <div class="sectionLabel active ua">
        <a class="nav-link" [routerLink]="['/dashboard/drivers/driver-doc',id_Driver]">Documentación</a>
      </div>
      <div class="sectionLabel unactive ua">
        <a class="nav-link" [routerLink]="['/dashboard/drivers/driver-inspection',id_Driver]">Ficha Inspección</a>
      </div>
      <div class="sectionLabel active ua">
        <a class="nav-link" [routerLink]="['/dashboard/drivers/driver-visitState',id_Driver]">Visita y Estado</a>
      </div>
    </header>

    <main> 
      <form [formGroup]="editDriver">
        <div class="row">
          <div class="docType">
            <span class="inputLabel">Tipo Doc</span>
            <select class="form-select form-select-md" aria-label=".form-select-sm example" [(ngModel)]="documentValue" formControlName="document_type">
              <option *ngFor="let documents of Documents | async" [value]="documents.type_id" >{{documents.type_name}}</option>
            </select> 
          </div>
          <div class="docNum form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nro Doc</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="document_number" min="10000000" minlength="8" maxlength="12" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>
          </div>
          <div class="idSex">
            <span class="inputLabel">Sexo</span> 
            <select class="form-select form-select-md" aria-label=".form-select-sm example"  [(ngModel)]="sexValue" formControlName="sex">
            <option *ngFor="let sex of Sex | async" [value]="sex.sex_id" >{{sex.sex_name}}</option>
            </select>
          </div>
          <div class="docState">
            <span class="inputLabel">Estado</span>
            <select class="form-select form-select-md" aria-label=".form-select-sm example" [(ngModel)]="StatusValue" formControlName="status">
              <option value="Activo">Activo</option>
              <option value="Registrado">Registrado</option>
              <option value="Suspendido">Suspendido</option>
              <option value="Inhabilitado">Inhabilitado</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="name form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="name" pattern="[A-Za-z]+" required>
          </div>
          <div class="name form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" formControlName="middle_name" pattern="[A-Za-z]+" required>
          </div>
          <div class="name form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" id="exampleFormControlInput4" formControlName="last_name" pattern="[A-Za-z]+" required>
          </div>
        </div>

        <div class="row">
          <div class="adress form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="address" maxlength="60">
          </div>
        </div>

        <div class="row">
          <div class="department">
            <span class="inputLabel">Departamento</span>
            <select class="form-select form-select-md" aria-label=".form-select-sm example" [(ngModel)]="departmentValue" formControlName="department">
              <option *ngFor="let department of Departments | async" [value]="department.department_id" >{{department.department_name}}</option>
            </select>
          </div>
          <div class="province">
            <span class="inputLabel">Provincia</span>
            <select class="form-select form-select-md" aria-label=".form-select-sm example" [(ngModel)]="provinceValue" formControlName="province">
              <option *ngFor="let province of Provinces | async" [value]="province.province_id" >{{province.province_name}}</option>
            </select>
          </div>
          <div class="district">
            <span class="inputLabel">Distrito</span>
            <select class="form-select form-select-md" aria-label=".form-select-sm example" [(ngModel)]="districtValue" formControlName="district">
            <option *ngFor="let district of Districts | async" [value]="district.district_id" >{{district.district_name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="adress form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Referencia</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="reference">
          </div>
        </div>

        <div class="row">
          <div class="email form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="email" pattern="[^\s@]+@[^\s@]+\.[^\s@]{2,}$" required>
          </div>
          <div class="date form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Fch Nacimiento</label>
            <input type="date" value='dd/mm/yyyy' class="form-control" id="exampleFormControlInput5" placeholder="" max="2009-12-31" formControlName="date_birth">
          </div>
        </div>

        <div class="row">
          <div class="licenceNum form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nro Brevete</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="license_number" maxlength="9" pattern="^[A-Z][0-9]{8}">
          </div>
          <div class="date form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Fch Vencimiento Brevete</label>
            <input type="date" class="form-control" id="exampleFormControlInput5" placeholder="" formControlName="date_DueDate">
          </div>
          <div class="phone form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label">Móvil</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" pattern="[0-9]{9}" formControlName="phone_number">
          </div>
        </div>
      </form>
    </main>
    <footer>
      <div class=" container navbar-nav-scroll">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"><span class="bi-save"></span>Guardar</button>
      </div>
    </footer>
  </div>
</div>
