<div class="container">
  <div class="container">
    <h5 class="sectionTitle">Información del Cliente</h5>
  </div>

  <div class="container">
    <header>
      <div class="sectionLabel active" routerLinkActive="active">
        <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard/client-edit',id]">Generales</a>
      </div>
      <div class="sectionLabel unactive">
        <a class="nav-link" [routerLink]="['/dashboard/client-travels',id]">Viajes</a>
      </div>
    </header>
    <main> 
      <form>
        <div class="row">
          <div class="client-fullName form-group form-inline mb-3">
            <label for="exampleFormControlInput1" class="form-label" >Nombre Completo</label>
            <input type="text" class="form-control full-width" disabled=»disabled»>
          </div>
          <div class="travel-state">
            <span class="inputLabel">Estado</span>
            <select class="form-select form-select-md" aria-label=".form-select-sm example">
              <option selected value="">---</option>
              <option>Finalizado</option>
              <option>Cancelado/usuario</option>
              <option>Cancelado/conductor</option>
            </select>
          </div>
          <div class="serach-btn">
            <button type="button" class="btn btn-primary"><span class="bi-search"></span></button>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="w-b">
          <h6>Historial de Viajes</h6>
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col">Fch Hora de Viaje</th>
                <th scope="col">Orígen</th>
                <th scope="col">Destino</th>
                <th scope="col">Importe</th>
                <th scope="col">Estado</th>
                <th scope="col">Calificación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>      
    </main>
  </div>
</div>
